<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="min-width: 19rem;">
    <div class="carousel-inner" style="height: 20vmax; ">
        <div class="carousel-item active">
            <img src=" https://www.dzoom.org.es/wp-content/uploads/2008/12/panoramica-13-734x243.jpg "
                class="d-block w-100" alt="No encontrado" style="height: 20vmax; ">
        </div>
        <div class="carousel-item">
            <img src=" https://i.blogs.es/84c120/_mg_3930-editar/1366_2000.jpg " class="d-block w-100"
                alt="No encontrado" style="height: 20vmax; ">
        </div>
        <div class="carousel-item">
            <img src="https://sergimateo.com/wp-content/2012/08/fotos-panoramicas-1.jpg" class="d-block w-100"
                alt="No encontrado" style="height: 20vmax; ">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>