{{>carrousel}}
<div class="row" style="width: 100%">
    <div class="col" style="max-width: 30%;"></div>
    <div class="col" style=" max-width: 40%;">
        <div class="card">
            <div class="card-header">
                Bienvenido {{usu.usuNombre}}
            </div>
            <div class="card-body">
                Correo: {{usu.usuEmail}}
            </div>
        </div>
    </div>
    <div class="col" style="max-width: 30%;"></div>
</div>